body {
  margin: 0;
  font-family: 'Crimson Text' , serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfbfa !important;
  padding-bottom: 200px;
}
@media only screen and (max-width: 950px) {
  body {
    padding-bottom: 200px;
  }
  h1 {
    font-size: large;
  }
}
@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 420px;
  }
  h1 {
    font-size: "20px";
  }
}

code {
  font-family:'Crimson Text' , serif;
}
.Loading {
  animation: spin 2s linear infinite;
  position: block;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #444; /* Blue */
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
}

.Feed {
  margin: auto;
  padding: 1% 1%;
}
.Feed a {
  display: inline-block;
  margin: 1% 1%;
  width: 23%;
  line-height: 0;
}
@media (max-width: 799px) {
  .Feed a {
    display: inline-block;
    margin: 1% 1%;
    width: 40%;
    line-height: 0;
  }
}

@media (max-width: 479px) {
  .Feed a {
    display: inline-block;
    margin: 1% 1%;
    width: 90%;
    line-height: 0;
  }
}

.Feed a img {
  animation: fadein 3s;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
