body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Loading {
  animation: spin 2s linear infinite;
  position: block;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #444; /* Blue */
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
}

.Feed {
  margin: auto;
  padding: 1% 1%;
}
.Feed a {
  display: inline-block;
  margin: 1% 1%;
  width: 23%;
  line-height: 0;
}
@media (max-width: 799px) {
  .Feed a {
    display: inline-block;
    margin: 1% 1%;
    width: 40%;
    line-height: 0;
  }
}

@media (max-width: 479px) {
  .Feed a {
    display: inline-block;
    margin: 1% 1%;
    width: 90%;
    line-height: 0;
  }
}

.Feed a img {
  animation: fadein 3s;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
